* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #EEAECA;
    background: linear-gradient(to top, #f6f982, #d9d46f, #fa5862) no-repeat center center fixed;
}

.name {
    background: linear-gradient(to right, #ff9843, #ffdd95, #86a7fc);
}

.frm{
    background: linear-gradient(to right, #61d4b3, #fdd365, #fb8d62);
    padding: 20px;
    border-radius: 8px;
    
}
.cb{
    background: linear-gradient(to right, #61d4b3, #fdd365, #fb8d62);
}

h3{
    font-weight: bold;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: black;
}

.btn {
    background-color: #ff6f61;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}



.no-data-message {
    color: #008000;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: green;
}