*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #6366f1, #4f46e5, #4338ca);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fs{
    margin-top: 2%;
    text-align: center;
    background-color: chartreuse;
    margin-left: 25%;
    margin-right: 25%;
}

.msg{
    font-size:larger;
    font-weight: bold;
    margin-top: 2%;
    color: white;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

label{
    font-weight: bold;
    font-size: 25px;
}

.form{
    background-color:coral;
}

label,input{
    margin-top: 2%;
}

input{
    border-radius: 50px;
    border: 1px solid black;
    height: 25px;
    font-size: large;
    padding-left: 9px;
}

button.submit,button.clr{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 30px;
    width: 100px;
    padding-bottom: 2px;
    color: white;
    font-weight: bold;
    background-color: #04AA6D;
    border: 1px solid black;
    border-radius: 7px;
}

button.clr{
    background-color: #f44336;
}

.fs1{
    margin-top: 2%;
    text-align: center;
    background-color: coral;
    margin-left: 25%;
    margin-right: 25%;
}

#h2{
    background-color: chartreuse;
}

.tbl{
    border: 1px solid black;
    background-color:lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

tr{
    /* margin-top: 2%; */
    height: 25px;
}

td{
    padding: 20px;
}

button.edit-btn,.delete-btn {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button.edit-btn {
    background-color: #04AA6D; /* Green */
}
button.delete-btn {
    background-color: #f44336; /* Red */
}
