/* Intro */
.intro {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  color: white;
  display: flex; 
  justify-content: flex-end; 
  align-items: center;       
}

.introbg {
  position: absolute;
  background-position: center;
  filter: blur(4px);
}

.introtext {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 400px;
  margin-right: 40px;  /* little gap from right edge */
  border-radius: 10px; /* optional for nicer look */
  text-align: justify;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #444;
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  border: double;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 15px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.sidebar .sm a {
  color: white;
  margin-right: 20px;
  font-size: 18px;
  
}

/* About */
.about {
  display: flex;
  gap: 40px;
  padding: 60px 20px;
  margin-left: 280px;
}
.aitem i {
  color: #0a46ae;;
  margin-bottom: 15px;
}

/* Work */
.work {
  padding: 60px 20px;
  text-align: left;
  border: double;
  margin-left: 300px;
}
 .img {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.img img {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  border-radius:10px;
}

/* Clients */
.clients {
  padding: 60px 20px;
  text-align: left;
  margin-left: 280px;
}

.clogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

 .clogos img {
  width: 170px;
  height: 90px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  margin-left: 2px;
}

/* Contact */
.contact {
  display: flex;
  gap: 70px;
  padding: 60px 20px;
  margin-left: 280px;
}
.continfo {
  flex: 1;
  border:double gray;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
}
.contform {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
.contform input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contform button {
  background: #4c4e4e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}