* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color:hotpink;
    padding: 20px;
}

.container {
    background-color: pink;
    width: 700px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #666;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    text-align: left;
}

.content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #444;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.6;

}

.content h2, h3 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 30px 0 15px 0;
    color: #222;
}