/* ===== Form Styling ===== */
body {
  background-image: url('./3132830_f02.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

label {
  font-weight:normal;
  display: block;
  text-align: left;
  margin-left: 20px;
}

/* Style the form itself (unique) */
#contactForm {
  background-image: url('./20250904_1334_Login\ Interface_remix_01k49vypq6ebrr5gdyc2y6jcd6.png');
  width: 350px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 10px rgb(1, 11, 29);
}

/* Common styling for input fields, textarea, and select */
.form-field {
  width: 90%;
  padding: 8px;
  margin: 8px 0;                   /* margin between fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Submit button styling */
.submit-btn {
  background-color: green;       /* blue */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover effect for button */
.submit-btn:hover {
  background-color:greenyellow;       /* darker blue on hover */
}
